{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <title>Bienvenue sur ma première page avec OpenClassrooms !</title>
    </head>
    <body>
        
        
        <p>
            Ajouter correctement
        </p>
    </body>
</html>